body{background-color: moccasin;}

ul {

    list-style: square;
    padding-left: 10px;
}

#menu ul li{
    padding : 10px;
    display: inline-block;
}
#menu ul li a{
    color: black;
    padding : 10px 25px;
    text-decoration: none;
}
#menu{
    background-color: lightseagreen;
}
#menu ul li a:hover{
    background-color: wheat; 
}

